@define-color accent1 #eb6f92;
@define-color accent2 #ea9a97;
@define-color accent3 #c4a7e7;
@define-color accent4 #f6c177;
@define-color accent5 #9ccfd8; 
@define-color txt #e0def4;
@define-color bg #232136;
@define-color bg2 #2a273f;
@define-color inverted_txt #575279;
