@import "rose-pine-moon.css";

* {
    font-family: "Maple Mono";
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    font-size: 18px;
    font-weight: 700;
}

/* Left-most: CPU */
#cpu,
#memory,
#workspaces,
#window, 
#clock, 
#pulseaudio,
#tray {
    padding: 12px;
    margin-left: 6px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: @bg 2px 2px 4px;
    background: @bg;
}

#cpu {
    color: @accent1;
    border: 3px solid @accent1;
}

#memory {
    color: @accent2;
    border: 3px solid @accent2;
}

#workspaces {
    border: 3px solid @accent3;
}

#workspaces button {
    color: @subtle;
}

#workspaces button.active {
    color: @accent3;
}

/* Active window title */
#window {
    color: @accent4; 
    border: 3px solid @accent4;
}

/* Right-most: Clock */
#clock {
    color: @accent3;
    border: 3px solid @accent3;
}

#tray {
    color: @accent2;
    border: 3px solid @accent2;
}

#pulseaudio {
    color: @accent1;
    margin-right: 0px;
    border: 3px solid @accent1;
}

/* Tooltips */
tooltip {
    border-radius: 12px;
    background-color: #0f1117;
    color: #c0c0c0;
    padding: 4px 8px;
}
