@import "rose-pine-moon.css";

* {
    font-family: "Maple Mono";
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    color: @bg2;
}

/* Left-most: CPU */
#cpu,
#memory,
#workspaces,
#window, 
#clock, 
#pulseaudio,
#tray {
    padding: 12px;
    margin-left: 6px;
    margin-right: 10px;
    border-radius: 10px;
    border: 3px solid @bg;
    box-shadow: @bg 2px 2px 4px;
}

#cpu {
    background: @accent1;
}

#memory {
    background: @accent2;
}

#workspaces {
    background: @accent3;
}

#workspaces button.active {
    background: rgba(224, 222, 244, 0.5);
}


/* Active window title */
#window {
    background: @accent4; 
}

/* Right-most: Clock */
#clock {
    background: @accent3;
}

#tray {
    background: @accent2;
}

#pulseaudio {
    background: @accent1;
    margin-right: 6px;
}

/* Tooltips */
tooltip {
    border-radius: 12px;
    background-color: #0f1117;
    color: #c0c0c0;
    padding: 4px 8px;
}

/* All system info modules */
#backlight,
#custom-notification {
    background: rgba(40, 40, 40, 0);
    font-weight: 800;
    color: #c0c0c0;
    border-radius: 0px;
    padding: 4px 10px;
}
