@import '/home/emc/.config/wofi/gruvbox.css';

* {
    font-family: 'Maple Mono';
    font-size: 18px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: @bg;
 }

 /* Inner Box */
 #inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: @bg;
 }


 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
    border-radius: 10px;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 /* Input */
 #input {
    margin: 10px 25px 10px 25px;
    padding: 10px;
    color: @accent;
    background-color: @bg;
    border: 2px solid @accent;
    border-radius: 10px;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @txt;
 }

/* Selected Entry */
#entry:selected {
   background-color: @bg;
   border: 1px solid @accent2;
   border-radius: 10px;
}

 #entry:selected #text {
    color: @txt;
 }
 image {
   margin-left: 10px;
 }

#input > image.right {
        -gtk-icon-transform:scaleX(0);
    }
